<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM
        "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration>


    <appender name="errorAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="../logs/sportCoach/error.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%-5p {%d{dd.MM.yyyy - HH.mm.ss,SSS}} %X{ClientTraceId} %X{CallSequenceTrace} %m%n"/>
        </layout>
    </appender>

    <appender name="debugAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="../logs/sportCoach/debug.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%-5p {%d{dd.MM.yyyy - HH.mm.ss,SSS}} %X{ClientTraceId} %X{CallSequenceTrace} %m%n"/>
        </layout>
    </appender>

    <logger name="error" additivity="false" >
        <level value="ERROR" />
        <appender-ref ref="errorAppender"/>
    </logger>

    <logger name="com.sport.coach.controllers" additivity="false" >
        <level value="DEBUG" />
        <appender-ref ref="debugAppender"/>
    </logger>

    <root>
        <priority value="WARN"/>
        <appender-ref ref="debugAppender"/>
    </root>
</log4j:configuration>
